# Python
__pycache__/
*.py[cod]
*.so
.eggs/
*.egg-info/

# Virtual Environments
.venv/
venv/

# macOS
.DS_Store
._*

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# ML/Data
MNIST/
*.pth
*.model
*.ckpt

# Hydra/Lightning
outputs/
lightning_logs/
multirun/

# Temporary
*.html
*.log
temp/

# Project-specific
data/
